* {
    margin: 0;
    padding: 0;
    background-color: rgb(172, 97, 97);
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}